Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
/src/test/groovy/gun/datastore/test.mv.db
/src/test/groovy/gun/datastore/test.trace.db
/src/test/groovy/grin/datastore/test.mv.db
